**
!package.json
!package-lock.json
!server/
!server/package.json
!server/src/
!server/src/**
!server/migrations/
!server/migrations/**
!client/
!client/package.json
!client/src/
!client/src/**
!client/public/
!client/public/**
!client/tsconfig.json
!client/.eslintrc.json
!client/nginx.conf
!docker/
!docker/production/
!docker/production/**
**/__tests__
**/*.test.*
**/.env*
**/.git
